#startGame{
  width: 250px;
  height: 120px;
  font-family: cursive;
  font-size: 30px;
  color: #1B6AA2;
  background: #A21B2D;
}

h1{
  color: red;
  font-family: fantasy;
}
h2{
  color: blue;
  font-family: cursive;
}
